.landing{
    background-color: black;
    color: white;
    display: flex;
    padding: 30px;
}

.left_side{
    width: 60%;
    /* border: 5px solid red; */
    /* display: inline-block; */
    text-align: left;
}

.right_side{
    /* display: inline-block; */
    /* border: 5px solid yellow; */
    width: 40%;
    vertical-align: middle;
}

.image_right{
    width: 80%;
    padding: 50px;
}